<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "beeConnect" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='//fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css" />

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "application", "page-transition" %>
  </head>

  <body class="<%= page_classes %>">
    <header>
      <div class="content">
        <h1 class="logo"><%= link_to image_tag_with_at2x("logo.png"), "/" %></h1>
        <nav>
          <%= partial "partials/menu" %>
          <div class="mobile-nav">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </nav>
      </div>
    </header>

    <div class="animsition-loading">
      <%= image_tag "loader.gif", width: "50", height: "50" %>
      <p>Carregando...</p>
    </div>
    <main class="beeConnect">
      <%= yield %>
    </main>

    <footer>
      <div class="content">
        <h1 class="logo"><%= link_to image_tag_with_at2x("logo-color.png"), "/" %></h1>

        <%= partial "partials/menu" %>

        <ul class="social">
          <% ["Facebook", "Twitter"].each do |social| %>
            <%= content_tag :li, partial("partials/#{social.parameterize}") %>
          <% end %>
        </ul>

        <ul class="app-rules">
          <li><%= link_to "Termos de uso", ""%></li>
          <li><%= link_to "Privacidade", ""%></li>
        </ul>

        <p class="copyright">&copy; Copyright beeConnect | All rights reserved</p>
      </div>
    </footer>

    <script>
      $(document).ready(function() {
        beeConnect.setPageTransition("main");
      });
    </script>
    <%= javascript_include_tag "//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js" %>
    <%= yield_content :javascripts %>
  </body>
</html>
