<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "iShop" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "application", "page-transition" %>
  </head>

  <body class="<%= page_classes %>">
    <header>
      <div class="content">
        <h1 class="logo"><%= link_to "iShop", "/" %></h1>
        <nav>
          <ul>
            <% ["Sobre", "Parceiros", "Ajuda", "Contato"].each do |item| %>
              <%= content_tag :li, link_to(item, item.parameterize) %>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main class="ishop">
      <%= yield %>
    </main>

    <footer>

    </footer>

    <script>
      $(document).ready(function() {
        iShop.setPageTransition(".ishop, body");
      });
    </script>
  </body>
</html>
