---
title: beeConnect - Precisando de ajuda?
---

<% content_for :header do %>
  <section class="hero">
    <h2>Tem uma dúvida? Estamos prontos para ajudar</h2>
  </section>
<% end %>

<section class="top-questions">
  <div class="content">
    <h2>Principais dúvidas</h2>
    <ul>
      <li><%= link_to "O que é beeConnect?", ""%></li>
      <li><%= link_to "Como usar o aplicativo beeConnect?", ""%></li>
      <li><%= link_to "Porque minha conta sumiu?", ""%></li>
      <li><%= link_to "Onde posso encontrar as promoções?", ""%></li>
    </ul>
  </div>
</section>

<section class="all-questions">
  <div class="content">
    <div class="search"></div>
    <nav></nav>
    <div class="answer"></div>
  </div>
</section>

<% content_for :javascripts do %>
  <%= javascript_include_tag "help/application", "help/initialize", "help/files" %>

  <script>
    var options = <%= data.faq.questions.to_json.html_safe %>;
    beeConnect.HelpCenter.initialize({
      menu: options,
      el: $(".all-questions nav"),
      content: $(".answer"),
      search: $(".search")
    });
  </script>
<% end %>
