---
title: iShop - Com o iShop você ganha para fazer compras
---

<section class="header">
  <div class="content">
    <figure>
      <%= image_tag_with_at2x "home/iphone.png", class: "app-screenshot" %>
    </figure>

    <header>
      <h1>Com o iShop você ganha para fazer compras</h1>
      <h2>Nunca perca descontos e recompensas incríveis nos seus lugares favoritos</h2>
    </header>

    <ul class="download-app">
      <li><%= link_to image_tag_with_at2x("app-store-button.png"), "" %></li>
      <li><%= link_to image_tag_with_at2x("google-play-button.png"), "" %></li>
    </ul>
  </div>
</section>

<section class="slider">
  <div class="content">
    <ul>
      <li>
        <div class="info">
          <span class="number"><b>1</b></span>
          <h3>DESCUBRA DESCONTOS ANTES DE IR ÀS COMPRAS</h3>
          <h4>
            Confira diariamente as últimas tendências e descontos exclusivos.
            <br>
            Assim você nunca perde uma chance de economizar
          </h4>
        </div>
        <figure>
          <%= image_tag_with_at2x("home/slide-1.png") %>
        </figure>
      </li>

      <li>
        <div class="info">
          <span class="number"><b>2</b></span>
          <h3>SEJA LEMBRADO DOS DESCONTOS</h3>
          <h4>
            Assim que você entra em uma loja parceira,
            o app te lembra dos melhores descontos de acordo com o seu perfil,
            para que você não perca nenhuma promoção
          </h4>
        </div>
        <figure>
          <%= image_tag_with_at2x("home/slide-2.png") %>
        </figure>
      </li>

      <li>
        <div class="info">
          <span class="number"><b>3</b></span>
          <h3>SEJA LEMBRADO DOS DESCONTOS</h3>
          <h4>
            Assim que você entra em uma loja parceira,
            o app te lembra dos melhores descontos de acordo com o seu perfil,
            para que você não perca nenhuma promoção
          </h4>
        </div>
        <figure>
          <%= image_tag_with_at2x("home/slide-3.png") %>
        </figure>
      </li>
    </ul>
  </div>
</section>

<section class="highlight">
  <figure>
    <%= image_tag_with_at2x "home/highlight.jpg" %>
    <figcaption>
      O aplicativo iShop é o seu melhore companheiro na hora de fazer  compras.
      Com ele você descobre as melhores ofertas nas suas lojas favoritas.
      No app você pode ver produtos na vitrine virtual e ganhar descontos exclusivos assim que entrar na loja!
    </figcaption>
  </figure>
</section>

<section class="apps">
  <div class="content">
    <ul class="download-app">
      <li class="apple">
        <figure>
          <%= image_tag_with_at2x "icons/apple.png" %>
        </figure>
        <h2>Apple</h2>
        <p>Baixe nossos aplicativos</p>
        <%= link_to "Baixar", ""%>
      </li>

      <li class="android">
        <figure>
          <%= image_tag_with_at2x "icons/android.png" %>
        </figure>
        <h2>Android</h2>
        <p>Baixe nossos aplicativos</p>
        <%= link_to "Baixar", ""%>
      </li>
    </ul>
  </div>
</section>

<section class="partner">
  <div class="content">
    <header>
      <h1>Seja nosso parceiro</h1>
      <p>Saiba como o iShop pode ajudar a sua marca</p>
    </header>

    <%= link_to image_tag_with_at2x("icons/angle-right.png"), "" %>
  </div>
</section>

<% content_for :javascripts do %>
  <%= javascript_include_tag "slider" %>

  <script>
    $(document).ready(function() {
      var options = {
        dots: true,
        speed: 500,
        prevArrow: false,
        fade: true,
        cssEase: "linear"
      };

      iShop.slider($(".slider ul"), options);
    });
  </script>
<% end %>
