---
title: iShop - Parceiros iShop
---

<section class="header">
  <div class="content">
    <div class="description">
      <p>Conectamos a marca ao consumidor gerando inteligência e interatividade</p>
      <%= link_to "Criar conta", "" %>
    </div>

    <div class="partner-form">
      <form>
        <legend>
          <span class="title">Login</span>
          <span class="subtitle">
            Se você já é parceiro,
            faça o login para gerenciar suas campanhas
            e acompanhar seus resultados
          </span>
        </legend>
        <fieldset class="inputs">
          <ol>
            <li class="input"><input type="email" placeholder="Conta" /></li>
            <li class="input"><input type="password" placeholder="Senha" /></li>
          </ol>
        </fieldset>

        <fieldset class="actions">
          <ol>
            <li><button type="submit">Aceitar</button></li>
          </ol>
        </fieldset>
      </form>
    </div>
  </div>
</section>

<blockquote>
  O iShop está presente em todo o ciclo de compra do usuário,
  <br>
  desde a casa dele até loja.
</blockquote>

<section class="slider">
  <div class="content">
    <div class="slider-images">
      <ul>
        <% %w(1 2 3 4 5).each do |slide| %>
          <li>
            <figure>
              <%= image_tag_with_at2x("partner/slide-#{slide}.png") %>
            </figure>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="slider-info">
      <ul>
        <li>
          <span class="number"><b>1</b></span>
          <h3>Em casa</h3>
          <p>Ajuda a construir a intenção de compra com conteúdo personalizado e direcionado</p>
        </li>

        <li>
          <span class="number"><b>2</b></span>
          <h3>Perto da loja</h3>
          <p>Traz o cliente para dentro da loja com o envio de mensagens push quando ele está próximo</p>
        </li>

        <li>
          <span class="number"><b>3</b></span>
          <h3>Entrada da loja</h3>
          <p>Recepciona os clientes logo que entram na loja com descontos específicos para cada perfil</p>
        </li>

        <li>
          <span class="number"><b>4</b></span>
          <h3>Dentro da loja</h3>
          <p>Guia o comprador pela loja com ofertas em departamentos específicos, ao mesmo tempo que alimenta o vendedor com informações sobre esse consumidor</p>
        </li>

        <li>
          <span class="number"><b>5</b></span>
          <h3>Nas prateleiras</h3>
          <p>Aumenta a taxa de conversão e o ticket médio, uma vez que leva o consumidor diretamente ao produto</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<blockquote>
  Nós levamos o comprador à loja e o conectamos com os produtos
  <br>
  de acordo  com os objetivos de cada parceiro.
</blockquote>

<section class="advantages">
  <div class="content">
    <ul>
      <% data.advantages.advantages.each_with_index do |advantage, index| %>
        <li class="<%= last_of(4, index) %>">
          <figure>
            <%= image_tag_with_at2x("icons/#{advantage.icon}") %>
          </figure>
          <p><%= advantage.text %></p>
        </li>
      <% end %>
    </ul>
  </div>
</section>

<% content_for :javascripts do %>
  <%= javascript_include_tag "slider" %>

  <script>
    var nextButton = "<button type='button' class='slick-next'>Próximo " +
                     '<%= image_tag_with_at2x("icons/next-arrow.png") %>' +
                     "</button>"

    var prevButton = "<button type='button' class='slick-prev'>" +
                     '<%= image_tag_with_at2x("icons/prev-arrow.png") %> ' +
                     "Anterior</button>"

    var slideImagesOptions = {
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 1,
        arrows: false,
        asNavFor: ".slider-info ul",
        infinite: false
      };

      var slideInfoOptions = {
        slidesToShow: 1,
        slidesToScroll: 1,
        asNavFor: ".slider-images ul",
        infinite: false,
        nextArrow: nextButton,
        prevArrow: prevButton
    };

    $(document).ready(function() {
      iShop.slider($(".slider-info ul"), slideInfoOptions);
      iShop.slider($(".slider-images ul"), slideImagesOptions);
    });
  </script>
<% end %>
